.slider {
    position: relative;
    max-width: 100%;
    height: 40em;
    margin: auto;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;

}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    top: 0;

    right: 40%;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.active {
    opacity: 1;
}



.about-section {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    color: #d00101;
    margin: 20px;
}

.team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}


.about-h1 {
    color: #8B0000;
    font-size: 3rem;

}

.about-text {
    font-weight: bolder;
    font-size: 1.2em;
    color: #690404;

}

.about-h2 {
    color: #c0c0c0;
    border-radius: 20%;
    background-color: #333333cd;
}

/*this is for the index damn i need a reak and my code is messy*/
.hero {
    text-align: center;
    padding: 4em 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.cta-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: white;
    background-color: #8B0000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #600000;
}



.about-us {
    text-align: center;
    padding: 4em 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.about-us h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.about-us p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.about-us .cta-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: white;
    background-color: #8B0000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-us .cta-button:hover {
    background-color: #600000;
}

.testimonials {
    text-align: center;
    padding: 4em 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.testimonials h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.testimonial {
    margin: 1em 0;
    padding: 1em;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.testimonial span {
    display: block;
    font-size: 1em;
    color: #555;
}